body {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#chat-input {
  width: 69%;
  height: 40px;
  margin: 0.5%;
}

.query-input {
  width: 80%;
  height: 40px;
  margin: 0.5%;
}

select {
  width: 10%;
  font-size: 120px;
  margin: 0.5%;
}

button {
  height: 50px;
  width: 120px;
  font-size: 14px;
  margin: 0.5%;
}
